:root {
  --main-color: color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.link, .header-logo {
  text-decoration: none;
  
}

.list {
  list-style: none;
}

/* ------------HEADER--------------*/
 

.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.header-logo-span {
color: #000000;
margin-left: -7px;
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}


.header-tel, .header-email {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.header-link:hover,
.header-link:focus {
  color: #2196F3;
}
 
.header-tel:focus {
  color: #2196F3;
}
.header-tel link:focus {
  color: #2196F3;
}

.header-email:focus {
  color: #2196F3;
}


/* ------------HEADER--------------*/

/* ------------Section Solutions--------------*/
.title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: white;
}

.solutions-btn {
max-width: 216px;
height: 50px;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}

/* ------------Section Solutions--------------*/
