:root {
  --primary-header-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.link,
.header-logo,
.footer-logo {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* ------------HEADER--------------*/

.header-logo,
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo-span,
.footer-logo-span {
  color: var(--primary-header-color);
  margin-left: -7px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
}

.header-tel,
.header-email {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel:focus,
.header-tel:hover {
  color: var(--accent-color);
}

.header-email:focus,
.header-email:hover {
  color: var(--accent-color);
}

.pre-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ------------HEADER--------------*/

/* ------------Section Solutions--------------*/
.solutions {
  background-color: #2f303a;
}
.title {
  color: white;
}

.solutions-btn {
  background: var(--accent-color);
}

/* ------------Section Solutions--------------*/

.sub-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.specifics-text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
}

/* ------------Section Solutions--------------*/

/* ------------specifics--------------*/

.specifics-subtitle {
  color: var(--primary-header-color);
}

.specifics-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ------------specifics--------------*/

/* ------------Our-business--------------*/

.our-business-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-header-color);
}

/* ------------Our-business--------------*/

/* ------------Our-team--------------*/

.our-team-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-header-color);
}

.our-team-title {
  color: var(--primary-header-color);
}
/* ------------Our-team--------------*/

footer {
  background-color: #2f303a;
}

.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}


.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-tel:focus,
.footer-tel:hover {
  color: var(--accent-color);
}

.footer-email:focus,
.footer-email:hover {
  color: var(--accent-color);
}

.footer-link-address:focus,
.footer-link-address:hover
 {
  color: var(--accent-color);
}