/* * {
  box-sizing: border-box;
}

body {
  font: 400 12 "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content {
  justify-content: space-evenly;
}

.justify-content-between {
  justify-content: space-between;
}


a {
  text-decoration: none;
  color: inherit;
}

/* .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
} */
/* 
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  margin: 32px 0 32px 0;
}

.header-logo {
  font-size: 26px;
} */

/* .header-info li {
  font-size: 14px;
} */ 
/* 
.header-info {
  margin: 32px 0 32px 0;
}

.header {
  padding: 24px 0;
  position: absolute;
  left: 0;
  width: 100%;
}

.main-header-nav {
  font-weight: 400;
  color: #212121;
  margin-left: 60px;
}

.main-header-nav a + a,
.info-header-nav a + a {
  margin-left: 30px;
}

.info-header-nav {
  color: #757575;
  font-weight: normal;
  margin-left: auto;
}

.main-header-nav a:hover,
.info-header-nav a:hover {
  color: #2196f3;
} */
/* 
.efective-solutions-bg {
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
}

.efective-solutions-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  max-width: 696px;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.btn {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.333;
  padding: 10px 32px;
  color: white;
  max-width: 216px;
  height: 50px;
}

.btn-efective-solutions {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-descriptions {
  margin-bottom: 112px;
  margin-top: 94px;
}

.main-descriptions .main-descriptions-items {
  margin-right: 30px;
}

.main-descriptions-items {
  max-width: 270px;
}

.main-descriptions-title {
  color: #212121;
}

.main-descriptions-text {
  color: #757575;
  margin-top: 10px;
  line-height: 24px;
}

.main-descriptions-items + .main-descriptions-items {
  margin-right: 30px;
}

.what-are-we-doing-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.what-are-we-doing-images {
  max-width: 370px;
}

.what-are-we-doing .what-are-we-doing-images {
  margin-right: 30px;
}

.our-team-section {
  background-color: #f5f4fa;
  height: 648px;
  margin-top: 94px;
}

.team-members-img {
  max-width: 270px;
  height: 260px;
}

.team-members-card {
  text-align: center;
}

.team-members {
  max-width: 270px;
  height: 368px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-members li {
  margin-right: 30px;
  padding: 0;
}

.team-members-name {
  font-style: 16px;
}

.team-members-job-title {
  font-size: 16px;
  color: #757575;
  margin-bottom: 50px;
}

.our-team-title {
  font-size: 36px;
  color: #212121;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.footer-bg {
  max-width: 1600px;
  height: 252px;
  background-color: #2f303a;
  position: relative;
}

.footer-contact-info {
  margin-top: 60px;
  position: absolute;
}

.logo-footer {
  margin-top: 20px;
}

.address {
  font-style: 14px;
  color: #ffffff;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-top: 20px;
}

.mail,
.phone {
  font-style: 14px;
  font-style: normal;
  color: white;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  margin-top: 9px;
} */
